{% extends 'base/base.html' %}
{% block content %}
<h2 class="h-listar">Lista de Proveedores</h2>
<div class="botones-listar">
    <a href="{% url 'home:crear_proveedor' %}" class="btn btn-primary mb-3">Nuevo Proveedor</a>
    <a href="{% url 'home:inventario' %}" class="btn btn-success mb-3">Regresar</a>
</div>
<table class="tabla-crud">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Contacto</th>
            <th>Teléfono</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for proveedor in proveedores %}
        <tr>
            <td>{{ proveedor.nombre }}</td>
            <td>{{ proveedor.contacto }}</td>
            <td>{{ proveedor.telefono }}</td>
            <td>
                <a href="{% url 'home:editar_proveedor' proveedor.id %}" class="btn btn-warning btn-sm accion">Editar</a>
                <a href="{% url 'home:eliminar_proveedor' proveedor.id %}" class="btn btn-danger btn-sm accion">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
