{% extends "base/base.html" %}
{% block title %}
Green Life - Registro
{% endblock title %}
{% block content %}
<div class="containerform">
   <form method="post">
    {% csrf_token %}
    <div class="form_cliente">
        <div class="section__finca">
            <h1>Registro de la Finca</h1>
            {{ form.finca_nombre.label_tag }} {{ form.finca_nombre }}
            {{ form.finca_ubicacion.label_tag }} {{ form.finca_ubicacion }}
            {{ form.finca_cliente.label_tag }} {{ form.finca_cliente }}
        </div>
        
        <div class="section__parcerla">
            <h1>Registro de la Parcela</h1>
            {{ form.parcela_ubicacion.label_tag }} {{ form.parcela_ubicacion }}
            {{ form.parcela_tamaño.label_tag }} (solo números) {{ form.parcela_tamaño }}
            {{ form.parcela_cliente.label_tag }} {{ form.parcela_cliente }}
        </div>

        <div class="section__estacion">
            <h1>Datos de la Estación</h1>
            {{ form.estacion_nombre.label_tag }} {{ form.estacion_nombre }}
            {{ form.estacion_ubicacion.label_tag }} {{ form.estacion_ubicacion }}
            {{ form.estacion_tipo.label_tag }} {{ form.estacion_tipo }}
        </div>
        
        <div class="section__cultivo">
            <h1>Datos del Cultivo</h1>
        <label for="id_opciones">Selecciona un cultivo:</label>
        {{ form.opciones }}  <!-- Este es el campo de selección -->
    
        <label for="id_tipo_planta">Tipo de Planta:</label>
        {{ form.tipo_planta }}  <!-- Este es el campo para el tipo de planta -->
    
        <label for="id_tiempo_crecimiento">Tiempo de Crecimiento (dias):</label>
        {{ form.tiempo_crecimiento }}  <!-- Este es el campo para el tiempo de crecimiento -->
        </div>   
    </div>
    <button type="submit" class="btn btn-primary registrocliente">Registrar</button>
    <a href="{% url 'home:graphics' %}" class="btn btn-primary registrocliente">Saltar</a>


</form>
</div>
<script>
    document.getElementById('id_opciones').addEventListener('change', function() {
        var cultivo_id = this.value;
        if (cultivo_id) {
            fetch('/home/obtener_datos/?cultivo_id=' + cultivo_id)
                .then(response => response.json())
                .then(data => {
                    if (data.tipo_planta) {
                        // Actualizar cada campo con los datos recibidos
                        document.getElementById('id_tipo_planta').value = data.tipo_planta;
                        document.getElementById('id_tiempo_crecimiento').value = data.tiempo_crecimiento;
                    } else {
                        // Si no se encontraron datos, limpiar los campos
                        document.getElementById('id_tipo_planta').value = "";
                        document.getElementById('id_tiempo_crecimiento').value = "";
                    }
                });
        }
    });
</script>


{% endblock content %}