{% extends "base/base.html" %}
{% load static %}
{% block title %}Green Life - Graphics{% endblock title %}

{% block boton %}Graficas{% endblock boton %}

{% block content %}
    <div class="containergraficas">
        <section class="nav__sidebar">
            <nav class="nav__sidebar">
                <ul class="sidebar">
                    <li class="sidebar__item"><a href="" class="item__sidebar monitoreo active">Monitoreo de suelo</a></li>
                    <li class="sidebar__item"><a href="{% url 'home:graphicsagua' %}" class="item__sidebar monitoreo">Monitoreo de agua</a></li>
                    <li class="sidebar__item"><a href="{% url 'home:prediccion' %}" class="item__sidebar monitoreo">Predicción</a></li>
                    <li class="sidebar__item"><a href="{% url 'home:inventario' %}" class="item__sidebar monitoreo">Inventario</a></li>
                </ul>
                {% comment %} <a href="{% url 'home:reporte_suelo' %}" class="btn btn-primary sidebar2 sidebar">Descargar Reporte de suelo (PDF)</a> {% endcomment %}
                <a href="{% url 'home:reporte_pdf' %}" class="btn btn-primary sidebar2 sidebar">Descargar Reporte de suelo (PDF)</a>
            </nav>
        </section>
        <div style="display: flex; justify-content: center; width: 100%; position: absolute;">
            <div id="notificacion" style="position: absolute; top: 0; z-index: 1000; display: none; background-color: #ffcccc; padding: 10px; margin: auto; border: 1px solid red; border-radius: 5px; color: #a00;">
                <button id="cerrar-notificacion" style="float: right; border: none; background: transparent; padding-left: 10px; font-weight: bold; font-size: 16px; cursor: pointer;">&times;</button>
                <div id="contenido-notificacion"></div>
            </div>
        </div>
        <div class="tabla">
            <div class="intensidadluminica">
                <h2><i class="fa fa-lightbulb" style="color: #cd0;" aria-hidden="true"></i> Intensidad luminica</h2>
                <div id="grafico-lux" class="chart"></div>
                <p id="estado-lux" class="estadosgraficas"></p>
            </div>
            <div class="humedadsuelo">
                <h2><i class="fa fa-tint" style="color: #56f;" aria-hidden="true"></i> Humedad</h2>
                <div id="grafico-humedad" class="chart"></div>
                <p id="estado-humedad" class="estadosgraficas"></p>
            </div>
            <div class="concentraciongases">
                <h2><i class="fa fa-cloud" style="color: #999;" aria-hidden="true"></i> Concentración de gases</h2>
                <div id="grafico-gas" class="chart"></div>
                <p id="estado-gas" class="estadosgraficas"></p>
            </div>
            <div class="temperatura">
                <h2><i class='fa fa-thermometer-half' style="color: #f33;" aria-hidden='true'></i> Temperatura</h2>
                <div id="grafico-temperatura" class="chart"></div>
                <p id="estado-temperatura" class="estadosgraficas"></p>
            </div>
            <div class="nivelph">
                <h2><i class='fa fa-plus' style="color: #56f;" aria-hidden='true'></i> Nivel de pH</h2>
                <div id="grafico-ph" class="chart"></div>
                <p id="estado-ph" class="estadosgraficas"></p>
            </div>
        </div>
    </div>

    
    <!-- Apache Echarts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.5.0/echarts.min.js"></script>

    <!-- custom JS -->
    <script src="{% static 'js/monitoreosuelo.js' %}"></script>

{% endblock content %}