{% extends "base/base.html" %}
{% load static %}
{% block title %}Green Life - Graphics water{% endblock title %}
{% block boton %}
Graficas agua
{% endblock boton %}
{% block content %}
    <div class="containergraficas">
        <section class="nav__sidebar">
            <nav class="nav__sidebar">
                <ul class="sidebar">
                    <li class="sidebar__item"><a href="{% url 'home:graphics' %}" class="item__sidebar monitoreo">Monitoreo de suelo</a></li>
                    <div class="suelo">
                        <li class="sidebar__item"><p href="" class="item__sidebar">Humedad</p></li>
                        <li class="sidebar__item"><p href="" class="item__sidebar">Temperatura</p></li>
                        <li class="sidebar__item"><p href="" class="item__sidebar">Nivel de pH</p></li>
                        <li class="sidebar__item"><p href="" class="item__sidebar">Gases</p></li>
                        <li class="sidebar__item"><p href="" class="item__sidebar">Intensidad luminica</p></li>
                    </div>
                    <li class="sidebar__item"><a href="" class="item__sidebar monitoreo active">Monitoreo de agua</a></li>
                    <div class="agua">
                        <li class="sidebar__item"><p href="" class="item__sidebar">Conductividad</p></li>
                        <li class="sidebar__item"><p href="" class="item__sidebar">Nivel de pH</p></li>
                        <li class="sidebar__item"><p href="" class="item__sidebar">Temperatura</p></li>
                        <li class="sidebar__item"><p href="" class="item__sidebar">Nivel del agua</p></li>
                        <li class="sidebar__item"><p href="" class="item__sidebar">Lluvia</p></li>
                    </div>
                    <li class="sidebar__item"><a href="{% url 'home:prediccion' %}" class="item__sidebar monitoreo">Predicción</a></li>
                    <li class="sidebar__item"><a href="{% url 'home:inventario' %}" class="item__sidebar monitoreo">Inventario</a></li>
                </ul>
                <a href="{% url 'home:reporte_agua' %}" class="btn btn-primary sidebar2 sidebar">Descargar Reporte de Agua (PDF)</a>
            </nav>
        </section>
        <div style="display: flex; justify-content: center; width: 100%; position: absolute;">
            <div id="notificacion-agua" style="position: absolute; top: 0; z-index: 1000; display: none; background-color: #ffcccc; padding: 10px; margin: auto; border: 1px solid red; border-radius: 5px; color: #a00;">
                <button id="cerrar-notificacion" style="float: right; border: none; background: transparent; padding-left: 10px; font-weight: bold; font-size: 16px; cursor: pointer;">&times;</button>
                <div id="contenido-notificacion"></div>
            </div>
        </div>
        
        <div class="tabla">

            <div class="temperatura">
                <h2><i class='fa fa-thermometer-half' style="color: #f33;" aria-hidden='true'></i> Temperatura</h2>
                <div id="grafico-temperatura" class="chart"></div>
                <p id="estado-temperatura" class="estadosgraficas"></p>
            </div>
            <div class="cultivo-lluvia">
                <div class="lluvia">
                    <h2><i class='fa fa-cloud' style="color: #999;" aria-hidden='true'></i> Lluvia</h2>
                    <div id="grafico-agua" class="chart"></div>
                    <p id="estado-agua" class="estadosgraficas"></p>
                </div>
            </div>
            <div class="nivelpha">
                <h2><i class='fa fa-plus' style="color: #56f;" aria-hidden='true'></i> Nivel pH agua</h2>
                <div id="grafico-ph" class="chart"></div>
                <p id="estado-ph" class="estadosgraficas"></p>
            </div>
            <div class="conductividad">
                <h2><i class='fa fa-bolt' style="color: #ee0;" aria-hidden='true'></i> Conductividad</h2>
                <div id="grafico-tds" class="chart"></div>
                <p id="estado-tds" class="estadosgraficas"></p>
            </div>
            <div class="nivelagua">
                <h2><i class='fa fa-tint' style="color: #54f;" aria-hidden='true'></i> Nivel de Agua</h2>
                <div id="grafico-distancia" class="chart"></div>
                <p id="estado-distancia" class="estadosgraficas"></p>
            </div>
        </div>
    </div>
    <!-- Apache Echarts -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.5.0/echarts.min.js"></script>

    <!-- custom JS -->
     <script src="{% static 'js/monitoreoagua.js' %}"></script>
{% endblock content %}
