{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="icon" type="image/x-icon" href="https://greenlifem.com/imgs/logoOficial.png">
    <link rel="stylesheet" href="{% static 'css/bootstrap-custom.css' %}">
    <title>{% block title %}Green Life - Graphics{% endblock title %}</title>
</head>
<header class="header">
    <nav class="header__nav">
        <ul class="nav__list1">
            <img class="logo" src="https://greenlifem.com/imgs/logoOficial.png" alt="GreenLife Logo">
        <p id="p1">
            <span style="color: #fff">G</span>reen <span style="color: #fff">L</span>ife
        </p>
        </ul>
        <ul class="nav__list">
            <li class="list__item"><a href="{% url 'home:index' %}" class="item__link btn btn-outline-secondary">Home</a></li>
            <li class="list__item"><a href="" class="item__link btn btn-outline-primary">Graphics</a></li>
            <li class="list__item"><a href="" class="item__link btn btn-outline-secondary">Settings</a></li>
        </ul>
    </nav>
</header>
<body>
    {% block content %}
    <div class="container">
        <section class="nav__sidebar">
            <nav class="nav__sidebar">
                <ul class="sidebar">
                    <li class="sidebar__item"><a href="" class="item__sidebar monitoreo">Monitoreo de suelo</a></li>
                    <div class="suelo">
                        <li class="sidebar__item"><p href="" class="item__sidebar">Humedad</p></li>
                        <li class="sidebar__item"><p href="" class="item__sidebar">Temperatura</p></li>
                        <li class="sidebar__item"><p href="" class="item__sidebar">Nivel de pH</p></li>
                        <li class="sidebar__item"><p href="" class="item__sidebar">Gases</p></li>
                        <li class="sidebar__item"><p href="" class="item__sidebar">Intensidad luminica</p></li>
                    </div>
                    <li class="sidebar__item"><a href="" class="item__sidebar monitoreo">Monitoreo de agua</a></li>
                    <div class="agua">
                        <li class="sidebar__item"><p href="" class="item__sidebar">Conductividad</p></li>
                        <li class="sidebar__item"><p href="" class="item__sidebar">Nivel de pH</p></li>
                    </div>
                    <li class="sidebar__item"><p href="" class="item__sidebar monitoreo">Cultivos</p></li>
                    <li class="sidebar__item"><p href="" class="item__sidebar monitoreo">Soporte técnico</p></li>
                    <li class="sidebar__item"><p href="" class="item__sidebar monitoreo">Cliente</p></li>
                    <li class="sidebar__item"><p href="" class="item__sidebar monitoreo">Predicción</p></li>
                </ul>
            </nav>
        </section>
        <div class="tabla" style="display: flex; justify-content: space-between; flex-wrap: wrap;">
            <div id="intensidadluminica" class="chart">
            </div>
            <div id="humedadsuelo" class="chart">
            </div>
            <div id="concentraciongases" class="chart">

            </div>
        </div>
    </div>
    <!-- Apache Echarts -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.5.0/echarts.min.js"></script>

    <!-- custom JS -->
    <script src="{% static 'js/humedadsuelo.js' %}"></script>
    <!-- <script src="{% static 'js/intensidadluminica.js' %}"></script> -->
{% endblock content %}
</body>
</html>