{% extends "base/base.html" %}
{% load static %}
{% block title %}Green Life - Graphics{% endblock title %}

{% block boton %}Graficas{% endblock boton %}

{% block content %}
    <div class="container">
        <section class="nav__sidebar">
            <nav class="nav__sidebar">
                <ul class="sidebar">
                    <li class="sidebar__item"><a href="" class="item__sidebar monitoreo active">Monitoreo de suelo</a></li>
                    <div class="suelo">
                        <li class="sidebar__item"><p href="" class="item__sidebar">Humedad</p></li>
                        <li class="sidebar__item"><p href="" class="item__sidebar">Temperatura</p></li>
                        <li class="sidebar__item"><p href="" class="item__sidebar">Nivel de pH</p></li>
                        <li class="sidebar__item"><p href="" class="item__sidebar">Gases</p></li>
                        <li class="sidebar__item"><p href="" class="item__sidebar">Intensidad luminica</p></li>
                    </div>
                    <li class="sidebar__item"><a href="{% url 'home:graphicsagua' %}" class="item__sidebar monitoreo">Monitoreo de agua</a></li>
                    <div class="agua">
                        <li class="sidebar__item"><p href="" class="item__sidebar">Conductividad</p></li>
                        <li class="sidebar__item"><p href="" class="item__sidebar">Nivel de pH</p></li>
                        <li class="sidebar__item"><p href="" class="item__sidebar">Temperatura</p></li>
                        <li class="sidebar__item"><p href="" class="item__sidebar">Nivel del agua</p></li>
                        <li class="sidebar__item"><p href="" class="item__sidebar">Lluvia</p></li>
                    </div>
                    <li class="sidebar__item"><a href="" class="item__sidebar monitoreo">Predicción</a></li>
                </ul>
            </nav>
        </section>
        <div class="tabla">
            <div class="intensidadluminica">
                <h2><i class="fa fa-lightbulb" style="color: #cd0;" aria-hidden="true"></i> Intensidad luminica</h2>
                <div id="intensidadluminica" class="chart"></div>
            </div>
            <div class="humedadsuelo">
                <h2><i class="fa fa-tint" style="color: #56f;" aria-hidden="true"></i> Humedad</h2>
                <div id="humedadsuelo" class="chart"></div>
            </div>
            <div class="concentraciongases">
                <h2><i class="fa fa-cloud" style="color: #999;" aria-hidden="true"></i> Concentración de gases</h2>
                <div id="concentraciongases" class="chart"></div>
            </div>
            <div class="temperatura">
                <h2><i class='fa fa-thermometer-half' style="color: #f33;" aria-hidden='true'></i> Temperatura</h2>
                <div id="temperatura" class="chart"></div>
            </div>
            <div class="nivelph">
                <h2><i class='fa fa-plus' style="color: #56f;" aria-hidden='true'></i> Nivel de pH</h2>
                <div id="nivelph" class="chart">
                    <h3 id="ph">0-14</h3>
                    <p id="ph_text">Muy alcalino</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Apache Echarts -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.5.0/echarts.min.js"></script>

    <!-- custom JS -->
    <script src="{% static 'js/monitoreosuelo.js' %}"></script>
{% endblock content %}
