{% extends "base/base.html" %}
{% load static %}
{% block title %}Green Life - Graphics water{% endblock title %}
{% block content %}
    <div class="container">
        <section class="nav__sidebar">
            <nav class="nav__sidebar">
                <ul class="sidebar">
                    <li class="sidebar__item"><a href="{% url 'home:graphics' %}" class="item__sidebar monitoreo">Monitoreo de suelo</a></li>
                    <div class="suelo">
                        <li class="sidebar__item"><p href="" class="item__sidebar">Humedad</p></li>
                        <li class="sidebar__item"><p href="" class="item__sidebar">Temperatura</p></li>
                        <li class="sidebar__item"><p href="" class="item__sidebar">Nivel de pH</p></li>
                        <li class="sidebar__item"><p href="" class="item__sidebar">Gases</p></li>
                        <li class="sidebar__item"><p href="" class="item__sidebar">Intensidad luminica</p></li>
                    </div>
                    <li class="sidebar__item"><a href="" class="item__sidebar monitoreo active">Monitoreo de agua</a></li>
                    <div class="agua">
                        <li class="sidebar__item"><p href="" class="item__sidebar">Conductividad</p></li>
                        <li class="sidebar__item"><p href="" class="item__sidebar">Nivel de pH</p></li>
                        <li class="sidebar__item"><p href="" class="item__sidebar">Temperatura</p></li>
                        <li class="sidebar__item"><p href="" class="item__sidebar">Nivel del agua</p></li>
                        <li class="sidebar__item"><p href="" class="item__sidebar">Lluvia</p></li>
                    </div>
                    <li class="sidebar__item"><a href="" class="item__sidebar monitoreo">Predicción</a></li>
                </ul>
            </nav>
        </section>
        <div class="tabla">
            <div class="temperatura">
                <h2><i class='fa fa-thermometer-half' style="color: #f33;" aria-hidden='true'></i> Temperatura</h2>
                <div id="temperaturaa" class="chart"></div>
            </div>
            <div class="cultivo-lluvia">
                <div class="cultivos">
                    <h2><i class="fa fa-leaf" style="color: #3f3;" aria-hidden="true"></i> Cultivos</h2>
                    <div class="cultivos__select">
                        <label> Seleccione su cultivo:
                            <select name="crop-type" id="select__cultivos">
                                <option value="aguacate">Aguacate</option>
                                <option value="alcatraz">Alcatraz</option>
                                <option value="arroz">Arroz</option>
                                <option value="avena">Avena</option>
                                <option value="azucena">Azucena</option>
                                <option value="betabel">Betabel</option>
                                <option value="brocoli">Brócoli</option>
                                <option value="calabaza">Calabaza</option>
                                <option value="cebada">Cebada</option>
                                <option value="cebolla">Cebolla</option>
                                <option value="chayote">Chayote</option>
                                <option value="chicharo">Chícharo</option>
                                <option value="chile">Chile</option>
                                <option value="chirimoya">Chirimoya</option>
                                <option value="clavel">Clavel</option>
                                <option value="coliflor">Coliflor</option>
                                <option value="crisnatemo">Crisantemo</option>
                                <option value="cucharilla">Cucharilla</option>
                                <option value="dalia">Dalia</option>
                                <option value="ejote">Ejote</option>
                                <option value="espinaca">Espinaca</option>
                                <option value="flor_de_mayo">Flor de Mayo</option>
                                <option value="flor_de_muerto">Flor de Muerto</option>
                                <option value="frijol">Frijol</option>
                                <option value="garbanzo">Garbanzo</option>
                                <option value="girasol">Girasol</option>
                                <option value="gladiolo">Gladiolo</option>
                                <option value="granada">Granada</option>
                                <option value="guayaba">Guayaba</option>
                                <option value="haba">Haba</option>
                                <option value="huitlacoche">Huitlacoche</option>
                                <option value="jicama">Jícama</option>
                                <option value="lechuga">Lechuga</option>
                                <option value="limon">Limón</option>
                                <option value="litchi">Litchi</option>
                                <option value="mamey">Mamey</option>
                                <option value="mango">Mango</option>
                                <option value="manzana">Manzana</option>
                                <option value="maracuya">Maracuyá</option>
                                <option value="maiz">Maíz</option>
                                <option value="melon">Melón</option>
                                <option value="mijo">Mijo</option>
                                <option value="naranja">Naranja</option>
                                <option value="nardo">Nardo</option>
                                <option value="nochebuena">Nochebuena</option>
                                <option value="nopal">Nopal</option>
                                <option value="nube">Nube</option>
                                <option value="papaya">Papaya</option>
                                <option value="pera">Pera</option>
                                <option value="piña">Piña</option>
                                <option value="pitaya">Pitaya</option>
                                <option value="platano">Plátano</option>
                                <option value="quinoa">Quinoa</option>
                                <option value="rabano">Rábano</option>
                                <option value="rosa">Rosa</option>
                                <option value="sandia">Sandía</option>
                                <option value="sorgo">Sorgo</option>
                                <option value="tamarindo">Tamarindo</option>
                                <option value="terciopelo">Terciopelo</option>
                                <option value="tomate">Tomate</option>
                                <option value="trigo">Trigo</option>
                                <option value="triticale">Triticale</option>
                                <option value="tuna">Tuna</option>
                                <option value="zanahoria">Zanahoria</option>
                                <option value="zarzamora">Zarzamora</option>
                                <option value="zapote">Zapote</option>
                            </select>

                        </label>
                    </div>
                </div>
                <div class="lluvia">
                    <h2><i class='fa fa-cloud' style="color: #999;" aria-hidden='true'></i> Lluvia</h2>
                    <div id="lluvia">
                        <h3 id="lluvia-state">Estado:</h3>
                        <p id="lluvia-text">Sin dato</p>
                    </div>
                </div>
            </div>
            <div class="nivelpha">
                <h2><i class='fa fa-plus' style="color: #56f;" aria-hidden='true'></i> Nivel pH agua</h2>
                <div id="nivelpha" class="chart"></div>
            </div>
            <div class="conductividad">
                <h2><i class='fa fa-bolt' style="color: #ee0;" aria-hidden='true'></i> Conductividad</h2>
                <div id="conductividad" class="chart"></div>
            </div>
            <div class="nivelagua">
                <h2><i class='fa fa-tint' style="color: #54f;" aria-hidden='true'></i> Nivel de Agua</h2>
                <div id="nivelagua" class="chart"></div>
            </div>
        </div>
    <!-- Apache Echarts -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.5.0/echarts.min.js"></script>

    <!-- custom JS -->
    <script src="{% static 'js/monitoreoagua.js' %}"></script>
{% endblock content %}
