{% extends "base/base.html" %}
{% block title %}
    Green Life - Home
{% endblock title %}

{% block content %}
<div class="containerindex">
    <div class="intro">
        <h1>Bienvenido a Green Life</h1>
        <p>Monitoreo ambiental para un mejor cuidado de tus cultivos.</p>
    </div>
    <div class="feature">
        <img src="https://greenlifem.com/imgs/Compost-III.jpg" alt="Cultivo sostenible">
        <p>Monitoreo preciso y sostenible para el cuidado del medio ambiente.</p>
    </div>
    <div class="cards">
        <div class="card">
            <h3>Sensores Inteligentes</h3>
            <p>Monitorea temperatura, humedad, pH y más.</p>
        </div>        
        <div class="card">
            <h3>Notificaciones</h3>
            <p>Recibe alertas personalizadas en tiempo real.</p>
        </div>
        <div class="card">
            <h3>Datos Históricos</h3>
            <p>Consulta tendencias y estadísticas.</p>
        </div>
    </div>
    
</div>
{% endblock content %}